{% extends 'base.html' %}

{% block title %}
    厨师界面
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container" style="background-image: url(/static/img/lightbg.jpg)">
        <div class="jumbotron" style="background: none">
            <div class="container">

                <h2 class="display-4"> LOGO</h2>
                <div class="row">

                    {% for dish in dishes %}
                    <!-- Card -->
                    <div class="card col-md-3">

                        <!-- Card image -->
                        <img class="card-img-top" src="{{ dish.image_url }}"
                             alt="Card image cap">

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>{{ dish.name }}</a></h4>
                            <!-- Text -->
                            <p class="card-text">￥{{ dish.price }}</p>
                            <!-- Button -->
                            <form  method="POST" name="form_{{ dish.id }}">

                                <input type="text" class="form-control mb-4" name="dishname" value={{ dish.name }}
                            >


                            <button name="add_dish" type="submit" class="btn btn-primary">选购</button>
                            </form>
                        </div>

                    </div>
                    <!-- Card -->
                    {% endfor %}

                </div>


            </div>
        </div>
    <div class="card" id = "orders">
                    我的订单
                    <ul class="list-group">

                        {% for dish in current_user.curr_order.items() %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ dish[0] }}
                                <span class="badge badge-primary badge-pill">{{ dish[1] }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    <button onclick="topFunction()" class="btn btn-amber " id="myBtn" style=" border-radius: 0" title="Go to top"><i style="font-size: 2em" class="fas fa-angle-up"></i></button>
    </div>
{% endblock %}